
body {
  font-family: "Times New Romans", sans-serif;
  background-color: #eff5f8;
  color: #001b44;
}

h1 {
  text-align: center;
}

p {
}
nav img {
    size: 300%;
}

#air-quality-search-box {
  width: 25%;
  display: inline-block;
}

#air-quality-search-result {
  width: 70%;
  display: inline-block;
  margin-left: 50px;
  /* visibility: hidden; */
}